<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>879537752472-t6nv9loi282qdbdue0t1c8cgmhcratcp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879537752472-t6nv9loi282qdbdue0t1c8cgmhcratcp</string>
	<key>API_KEY</key>
	<string>AIzaSyCZsTMibfY7rvk-tk6AAsfsXb4AmMGx05M</string>
	<key>GCM_SENDER_ID</key>
	<string>879537752472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.cksscientificoutreachsociety.solta</string>
	<key>PROJECT_ID</key>
	<string>solta-storage</string>
	<key>STORAGE_BUCKET</key>
	<string>solta-storage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879537752472:ios:a4d5cefeb5a0e38a</string>
	<key>DATABASE_URL</key>
	<string>https://solta-storage.firebaseio.com</string>
</dict>
</plist>